Source: docker-manager
Section: main
Priority: optional
Maintainer: Ehsan Ahmadi <e.rainyman2012@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/docker-manager
#Vcs-Git: https://salsa.debian.org/debian/docker-manager.git

Package: docker-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
